{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <div>
        Date du jour : {{ 'now'|date('d/m/Y') }}
        <br><br>Participant :
        {% if app.user %}
            {{ app.user.firstname }} {{ app.user.lastname|slice(0,1)}}.
        {% endif %}

    </div>

    <span>
        <h1>Filtrer les sorties</h1>
        {{ form_start(form) }}
        {# TODO: get a list of places #}
        Site : {{ form_widget(form.lieu) }}<br>
        Le nom de la sortie contient : {{ form_widget(form.nom) }}<br>
        Entre {{ form_widget(form.dateDebut) }} et {{ form_widget(form.dateFin) }}<br>
        {{ form_end(form) }}
    </span>

    {{ dump(data) }}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">Inscrits/places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sortie in data %}
            <tr>
                <th>{{ sortie.nom }}</th>
                <td>{{ sortie.date|date("d/m/Y H:i") }}</td>
                <td>{{ sortie.dateLimiteInscription|date("d/m/Y") }}</td>
                <td>../{{ sortie.nbParticipant }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>..</td>
                <td>{{ sortie.organisateur.firstname }} {{ sortie.organisateur.lastname }}</td>
                {#
                    @RG
                    #Afficher
                    - displayed in any case other than 'En création'
                    - clickable if Etat is 'En Cours'
                    #Modifier
                    - displayed & clickable if author is user AND Etat is 'En Création'
                    #Se désister
                    - displayed if author isn't user AND user isn't inscrit
                #}
                <td>..</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
