{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <div>
        Date du jour : {{ 'now'|date('d/m/Y') }}
        <br>Participant :
        {% if app.user %}
            {{ app.user.firstname }} {{ app.user.lastname|slice(0,1)}}.
        {% endif %}
    </div>
    <span>
        <h1>Filtrer les sorties</h1>
        {{ form_start(form) }}
        Site : {{ form_widget(form.lieu) }}<br>
        Le nom de la sortie contient : {{ form_widget(form.nom) }}<br>
        Entre {{ form_widget(form.dateDebut) }} et {{ form_widget(form.dateFin) }}<br>
        {{ form_end(form) }}
    </span>

    {% if alert %}
        <div class="alert alert-warning" role="alert">
            [To Patch] Aucune donnée trouvée
        </div>
    {% endif %}
    <table class="table-auto">
        <thead>
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">Inscrits/places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sortie in data %}
            <tr>
                <th>{{ sortie.nom }}</th>
                <td>{{ sortie.date|date("d/m/Y H:i") }}</td>
                <td>{{ sortie.dateLimiteInscription|date("d/m/Y") }}</td>
                <td>{{ sortie.inscrits.count }}/{{ sortie.nbParticipant }}</td>
                <td>
                    {% if sortie.etat.id == 5 %}
                        <p data-tooltip-target="tooltip-default" type="button" class="text-white ">{{ sortie.etat.libelle }} 📝</p>
                        <div id="tooltip-default" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                            {{ sortie.motif }}
                            <div class="tooltip-arrow" data-popper-arrow></div>
                        </div>

                    {%  else %}
                    {{ sortie.etat.libelle }}
                    {% endif %}</td>
                <td>
                    {% if app.user in sortie.inscrits %}
                        ×
                    {% endif %}
                </td>
                <td>{{ sortie.organisateur.firstname }} {{ sortie.organisateur.lastname|slice(0,1) }}.</td>
                {#
                    @RG
                    #Afficher
                    - displayed in any case other than 'En création'
                    - clickable if Etat is 'En Cours'
                    #Modifier
                    - displayed & clickable if author is user AND Etat is 'En Création'
                    #Se désister
                    - displayed if author isn't user AND user is inscrit
                #}
                <td>
                    {# TODO: etablir la liaison avec les actions #}
                    {% if sortie.etat.id != 1 %}
                        Afficher
                    {% endif %}
                    {% if sortie.etat.id == 1 and sortie.organisateur == app.user %}
                        Modifier
                    {% endif %}
                    {% if sortie.organisateur != app.user and app.user in sortie.inscrits and sortie.etat.id == 4 %}
                        <a href="{{ path('app_sortie_inscription', {'id': sortie.id}) }}">Se désister</a>
                    {% endif %}
                    {% if sortie.organisateur != app.user and app.user not in sortie.inscrits and sortie.etat.id == 4 and app.user and sortie.dateLimiteInscription > 'now'|date('d/m/Y') and sortie.nbInscrits < sortie.nbParticipant %}
                        <a href="{{ path('app_sortie_inscription', {'id': sortie.id}) }}">S'incrire</a>
                    {% endif %}
                    {% if sortie.organisateur == app.user and sortie.etat.id == 1 %}
                        Publier
                    {% endif %}
                    {% if sortie.organisateur == app.user and sortie.etat.id != 2 and sortie.etat.id != 5 %}
                        <a href="{{ path('app_annuler_sortie', {'id': sortie.id}) }}">Annuler</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button><a href="{{ path('app_creer_sortie') }}">Créer une sortie</a></button>
{% endblock %}
